<!--
<form novalidate ng-submit="postdoc()" class="doc-form">
  <input type="text" placeholder="Name" ng-model="doc.name" />
  <input type="url" placeholder="Url" ng-model="doc.url" />
  <button type="submit">Log in</button>
</form>
-->
<!--
<div class="thumbnail col-md-4" data-drop="true" data-jqyoui-options ng-model="doc" jqyoui-droppable style='height:50px;'>
  <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="doc" jqyoui-draggable ng-hide="!doc.name">{{doc.name}}</div>
</div>
-->
<!--
<div id="dropbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<img id="drag1" src="/img_w3slogo.gif" draggable="true"
ondragstart="drag(event)" width="88" height="31">
-->